= form_for(@person) do |f|
  .field
    = f.label("name")
    = f.text_field("name")
    = f.error_message_on("name")
  .field
    = f.label("description")
    = f.text_area("description")
    = f.error_message_on("description")
  .field
    = f.label("private", nil, class: "inline")
    = f.check_box("private")
    = f.error_message_on("private")
  %fieldset
    %legend Uploads
    .wrap
      = f.fields_for("uploads", @person.uploads) do |ff|
        - if ff.object.new_record?
          .field
            = ff.hidden_field("upload_cache")
            = ff.label("upload", image_tag("fallback/thumb_default.png", :size => "110x110"))
            = ff.label("upload", "Upload an image or other file")
            %br
            = ff.file_field("upload")
            = ff.error_message_on("upload")
            %br
            = ff.label("caption")
            = ff.text_field("caption")
            = ff.error_message_on("caption")
            %br
            = ff.label("private")
            = ff.check_box("private")
            = ff.error_message_on("private")
        - else
          .field
            - if ff.object.upload.image?(ff.object.upload.url)
              = ff.label("_destroy",
                         image_tag(ff.object.upload.thumb.url, :size => "110x110"))
            - else
              = ff.label("_destroy",
                         image_tag(ff.object.upload.thumb.default_url, :size => "110x110"))
            = File.basename(ff.object.upload.url)
            %br
            = ff.label("caption")
            = ff.text_field("caption")
            = ff.error_message_on("caption")
            %br
            = ff.label("private")
            = ff.check_box("private")
            = ff.error_message_on("private")
            %br
            = ff.label("_destroy", "Delete", class: "inline")
            = ff.check_box("_destroy")
            = ff.error_message_on("_destroy")

  .actions
    .left
      = f.submit
      = cancel_button(@person)
    .right
      = delete_button(@person) unless @person.new_record?