= form_for(@person) do |f|
  .field
    = f.label("name")
    = f.text_field("name")
    = f.error_message_on("name")
  .field
    = f.label("description")
    = f.text_area("description")
    = f.error_message_on("description")
  .field
    = f.check_box("private")
    = f.label("private", nil, class: "inline")
    = f.error_message_on("private")
  %fieldset
    %legend Uploads
    .wrap
      = f.has_many_fields_for("uploads", @person.uploads) do |ff|
        = render("upload", ff: ff, upload: ff.object)


  %fieldset
    %legend Veil Passes
    .wrap
      %table{cellpadding: 0, cellspacing: 0}
        %thead
          %tr
            %th User
            %th Delete
        %tbody
          = f.has_many_fields_for("veil_passes", @person.veil_passes) do |ff|
            = render("/shared/veil_pass_form", ff: ff, veil_pass: ff.object)

  .actions
    .left
      = f.submit
      = cancel_button(@person)
    .right
      = delete_button(@person) unless @person.new_record?