- title("People")

%ul.breadcrumbs
  %li= link_to(current_campaign.name, current_campaign)
  %li People

%h1 People

%table
  %thead
    %tr
      %th.num
      %th Name

  %tbody
    - @people.order("name").each_with_index do |person, idx|
      %tr{:class => cycle("odd", "even")}
        %td.num
          = succeed(".") do
            = 1 + idx
        %td= link_to(person.name, person)

.actions
  .left
    = new_button(new_person_path)