- title("Person: #{@person.name}")

%ul.breadcrumbs
  %li= link_to(current_campaign.name, current_campaign)
  %li= link_to("People", people_path)
  %li= @person.name

%h1= @person.name

:markdown
  #{@person.description}

.actions
  .left
    = edit_button(@person)

- if @person.uploads
  = content_for(:sidebar) do
    - @person.uploads.order("created_at").each do |upload|
      .upload
        = link_to(upload.upload.url) do
          = image_tag(upload.upload.sidebar.display_url, :size => "230x230")
        .caption
          = link_to_if(upload.caption, upload.caption, upload.upload.url)
