- title("Person: #{@person.name}")

- html = toc(@person.description)
- if html.present?
  .toc
    %h3 Table of Contents
    = html

%ul.breadcrumbs
  %li= link_to(current_campaign.name, current_campaign)
  %li= link_to("People", people_path)
  %li= @person.name

%h1{style: "clear: left"}
  = append_private_icon(@person, highlight(@person.name, params[:q]))

= description(@person.description)

= render("/shared/veil_passes", subject: @person)

- if permitted_to?(:edit, @person)
  .actions
    .left
      = edit_button(@person)
  .clear

%p
  Last updated #{@person.updated_at.to_s(:long)}
  - if permitted_to?(:edit, @person)
    %br
    Revised #{pluralize(@person.versions.count, "time")}.
    - if @person.versions.count > 0
      = link_to("View revisions", revisions_person_path(@person))

- if visible_due_to_veil_pass?(@person)
  %p.veil_pass_description
    This page is private. You are able to view this page because
    #{current_campaign.dm_name} has issued you a Veil Pass.  This pass allows
    you to view information that is otherwise considered private.  <em>Be
    careful how you share this information with other players</em>.

= content_for(:sidebar) do
  - if @person.visible_uploads.present?
    - @person.visible_uploads.each do |upload|
      .upload
        = link_to(upload.url, class: "overlay_container") do
          = image_tag(upload.sidebar.display_url, :size => "230x230")
          = private_upload_icon(upload)
        .caption
          = link_to(upload.caption, upload.url)
  - if is_dm?
    %ul
      %li= link_to("Show DM view", "", id: "show_dm_view")
      %li= link_to("Show VP view", "", id: "show_vp_view")
      %li= link_to("Show Public view", "", id: "show_public_view")

= content_for(:head) do
  :javascript
    $(function () {
      function show_dm_view() {
        $(".dm").show();
        $(".vp").show();
      }

      function show_vp_view() {
        $(".dm").hide();
        $(".vp").show();
      }

      function show_public_view() {
        $(".dm").hide();
        $(".vp").hide();
      }

      $("#show_dm_view").click(function () {show_dm_view(); return false;});
      $("#show_vp_view").click(function () {show_vp_view(); return false;});
      $("#show_public_view").click(function () {show_public_view(); return false;});
    })