- title("Person: #{@person.name}")

%ul.breadcrumbs
  %li= link_to(current_campaign.name, current_campaign)
  %li= link_to("People", people_path)
  %li= @person.name

%h1
  = @person.name
  = private_icon(@person)

:markdown
  #{linkify(@person.description)}

- if permitted_to?(:edit, @person) && @person.veil_passes.present?
  %h2 Veil Passes
  %table{cellpadding: 0, cellspacing: 0}
    %thead
      %tr
        %th User
        %th Includes Uploads
    %tbody
      - @person.veil_passes.each do |veil_pass|
        %tr
          %td= veil_pass.user_name
          %td= veil_pass.includes_uploads

- if permitted_to?(:edit, @person)
  .actions
    .left
      = edit_button(@person)
  .clear

%p
  Last updated #{@person.updated_at.to_s(:long)}
  - if permitted_to?(:edit, @person)
    %br
    Revised #{pluralize(@person.versions.count, "time")}.
    - if @person.versions.count > 0
      = link_to("View revisions", revisions_person_path(@person))

- if @person.private && current_user.has_veil_pass_for?(@person)
  %p.veil_pass_description
    This page is private. You are able to view this page because
    #{current_campaign.dm_name} has issued you a Veil Pass.  This pass allows
    you to view information that is otherwise considered private.  <em>Be
    careful how you share this information with other players</em>.

- if @person.uploads.with_permissions_to(:read)
  = content_for(:sidebar) do
    - @person.uploads.with_permissions_to(:read).order("person_uploads.created_at").each do |upload|
      .upload
        = link_to(upload.url, class: "overlay_container") do
          = image_tag(upload.sidebar.display_url, :size => "230x230")
          = private_upload_icon(upload)
        .caption
          = link_to(upload.caption, upload.url)
