- title("Person: #{@person.name}")

%ul.breadcrumbs
  %li= link_to(current_campaign.name, current_campaign)
  %li= link_to("People", people_path)
  %li= @person.name

%h1= @person.name

:markdown
  #{@person.description}

.actions
  .edit
    = link_to("Edit Person", edit_person_path(@person))
  .delete
    = link_to("Delete Person",
              person_path(@person),
              :method => :delete, :confirm => "Are you sure?")

- if @person.uploads
  = content_for(:sidebar) do
    - @person.uploads.each do |upload|
      .upload
        = link_to(upload.upload.url) do
          = image_tag(upload.upload.sidebar.url)
        .caption
          = link_to(upload.caption, upload.upload.url)
