- title("Person: #{@person.name}")

%ul.breadcrumbs
  %li= link_to(current_campaign.name, current_campaign)
  %li= link_to("People", people_path)
  %li= @person.name

%h1
  = @person.name
  = private_icon(@person)

:markdown
  #{linkify(@person.description)}

- if permitted_to?(:edit, @person)
  .actions
    .left
      = edit_button(@person)
  .clear

%p
  Last updated #{@person.updated_at.to_s(:long)}
  - if permitted_to?(:edit, @person)
    %br
    Revised #{pluralize(@person.versions.count, "time")}.
    - if @person.versions.count > 0
      = link_to("View revisions", revisions_person_path(@person))

- if @person.uploads.with_permissions_to(:read)
  = content_for(:sidebar) do
    - @person.uploads.with_permissions_to(:read).order("person_uploads.created_at").each do |upload|
      .upload
        = link_to(upload.url, class: "overlay_container") do
          = image_tag(upload.sidebar.display_url, :size => "230x230")
          = private_upload_icon(upload)
        .caption
          = link_to(upload.caption, upload.url)
