- title("Person: #{@person.name}")

%ul.breadcrumbs
  %li= link_to(current_campaign.name, current_campaign)
  %li= link_to("People", people_path)
  %li= @person.name

%h1
  = append_private_icon(@person, highlight(@person.name, params[:q]))

= description(@person.description)

= render("/shared/veil_passes", subject: @person)

- if permitted_to?(:edit, @person)
  .actions
    .left
      = edit_button(@person)
  .clear

%p
  Last updated #{@person.updated_at.to_s(:long)}
  - if permitted_to?(:edit, @person)
    %br
    Revised #{pluralize(@person.versions.count, "time")}.
    - if @person.versions.count > 0
      = link_to("View revisions", revisions_person_path(@person))

- if visible_due_to_veil_pass?(@person)
  %p.veil_pass_description
    This page is private. You are able to view this page because
    #{current_campaign.dm_name} has issued you a Veil Pass.  This pass allows
    you to view information that is otherwise considered private.  <em>Be
    careful how you share this information with other players</em>.

= content_for(:sidebar) do
  - if @person.visible_uploads.present?
    - @person.visible_uploads.each do |upload|
      .upload
        = link_to(upload.url, class: "overlay_container") do
          = image_tag(upload.sidebar.display_url, :size => "230x230")
          = private_upload_icon(upload)
        .caption
          = link_to(upload.caption, upload.url)
  - if is_dm?
    %ul
      %li= link_to("Toggle DM-only text", "", id: "toggle_dm_text")
      %li= link_to("Toggle VP-only text", "", id: "toggle_vp_text")

= content_for(:head) do
  :javascript
    $(function () {
      function toggle_dm_text() {
        $(".dm").toggle();
      }

      function toggle_vp_text() {
        if ($(".vp:visible").length > 0) {
          $(".vp").hide();
          $(".dm").hide();
        } else {
          $(".vp").show();
        }
      }

      $("#toggle_dm_text").click(function () {toggle_dm_text(); return false;});
      $("#toggle_vp_text").click(function () {toggle_vp_text(); return false;});
    })