%h1 World Diary

%p
  This is a place to keep track of your campaign's people.

%h2 Campaigns

%table
  %thead
    %tr
      %th.num
      %th Name
      %th DM
      %th Last update
  %tbody
    - @campaigns.recently_updated.each_with_index do |campaign, idx|
      %tr{:class => cycle("odd", "even")}
        %td.num
          = succeed(".") do
            = 1 + idx
        %td
          = link_to(campaign.name, campaign)
          = private_icon(campaign)
        %td= campaign.dm_name
        %td= campaign.updated_at.to_s(:short)

%p
  = link_to(campaigns_path) do
    = see_all_link(@campaigns, "campaign")
