%h1 Search

- if @results.present?
  %h2 Results for <q>#{params[:q]}</q>:
  - if Search::MAX_RESULTS == @results.size
    %h3 Showing the top #{pluralize(@results.size, "result")}
  %ol
    = list_of(@results) do |result|
      = link_to(result.name, polymorphic_path(result, q: params[:q]))
- elsif params.include?(:q)
  %em No results found for <q>#{params[:q]}</q>.
- else
  %p
    = form_tag(nil, :method => :get) do
      = search_field_tag("q")
      = submit_tag("Search")


- if @results.present?
  - if current_user == current_campaign.dm
    = content_for(:sidebar) do
      %h3 Not seeing results you expected?
      %p
        Right now, the system searches only in the public portion of a
        subject’s description. It is hoped that eventually the search can be
        modified to determine what the searcher is permitted to see and
        respond accordingly.
