= form_for(@campaign) do |f|
  .field
    = f.label("name")
    = f.text_field("name")
    = f.error_message_on("name")
  .field
    = f.label("description")
    = f.text_area("description")
    = f.error_message_on("description")
  .field
    = f.label("private", nil, class: "inline")
    = f.check_box("private")
    = f.error_message_on("private")
  .actions
    .left
      = f.submit
      = cancel_button(@campaign)
    .right
      = delete_button(@campaign) unless @campaign.new_record?
