= form_for(@campaign) do |f|
  %p
    = f.label("name")
    %br
    = f.text_field("name")
  %p
    = f.label("description")
    %br
    = f.text_area("description")
  %p
    = f.label("private")
    = f.check_box("private")
  %p.actions
    .left
      = f.submit
      = cancel_button(@campaign)
    .right
      = delete_button(@campaign) unless @campaign.new_record?
