= form_for(@campaign) do |f|
  %p
    = f.label("name")
    %br
    = f.text_field("name")
  %p
    = f.label("description")
    %br
    = f.text_area("description")
  %p.actions
    .submit
      = f.submit
    .cancel
      = link_to("Cancel", @campaign)
