- title("Campaign: #{@campaign.name}")

%h1= @campaign.name

= campaign_description(@campaign.description)

%ul.menu
  %li
    = link_to("People", people_path)

.actions
  .left
    = edit_button(@campaign)

= content_for(:head) do
  = auto_discovery_link_tag(:rss, :format => "rss")