- title("Campaign: #{@campaign.name}")

%h1= @campaign.name

:markdown
  #{linkify(@campaign.description)}

%h2 People

%table
  %thead
    %tr
      %th.num
      %th Name
      %th Last updated
  %tbody
    - @campaign.people.recently_updated.each_with_index do |person, idx|
      %tr{:class => cycle("odd", "even")}
        %td.num
          = succeed(".") do
            = 1 + idx
        %td= link_to(person.name, person)
        %td= person.updated_at.to_s(:short)

%p
  = link_to(people_path) do
    See all #{pluralize(@campaign.people.count, "person")}.

.actions
  .left
    = edit_button(@campaign)
