!!! 5
%html
  %head
    %title<
      World Diary
      - if content_for?(:title)
        = precede(": ") do
          = yield(:title)
    = favicon_link_tag
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Forum"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = content_for(:head) if content_for?(:head)
  %body#top{class: page_class}
    #wrap
      = render_flash
      #header
        .left
          %ul.menu
            %li
              = link_to("Home", root_path)
            %li
              = link_to("Campaigns", campaigns_path)
        .right
          %ul.session
            - if user_signed_in?
              %li
                = link_to(current_user.email, edit_user_registration_path)
              %li
                = link_to("Log out", destroy_user_session_path, :method => :delete)
            - else
              %li
                = link_to("Sign up", new_user_registration_path)
              %li
                = link_to("Log in", new_user_session_path)
        .clear
      #content
        .main
          = yield
        .sidebar.right
          I am a test of the right sidebar
          = content_for(:sidebar) if content_for?(:sidebar)
    #footer
      Copyright 2011 Eric Wollesen.  All rights reserved.
