!!! 5
%html
  %head
    %title<
      World Diary
      - if content_for?(:title)
        = precede(": ") do
          = yield(:title)
    = favicon_link_tag
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Forum"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = content_for(:head) if content_for?(:head)
  %body#top{class: page_class}
    #wrap
      = render_flash
      #header
        .left
          %ul.menu
            %li
              = link_to("Home", root_path)
            %li
              = link_to("Campaigns", campaigns_path)
        .right
          %ul.session
            - if user_signed_in?
              %li
                = link_to(current_user.name, edit_user_registration_path)
              %li
                = link_to("Log out", destroy_user_session_path, :method => :delete)
            - else
              %li
                = link_to("Sign up", new_user_registration_path)
              %li
                = link_to("Log in", new_user_session_path)
        .clear
      #content
        .main
          = yield
        .sidebar
          - if content_for?(:sidebar)
            = content_for(:sidebar)
          - else
            %p
              Vestibulum in mi nec nibh accumsan pellentesque. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Pellentesque varius dui non
              est vestibulum fringilla. In vel convallis felis. Mauris quam
              purus, dignissim id posuere sit amet, auctor quis sapien. Sed
              vitae lorem sit amet odio lobortis vehicula eu eget tellus. Nam
              nisi massa, laoreet id vulputate id, rutrum sed lorem. Aenean
              facilisis accumsan nibh. Duis sed nunc felis. Donec id arcu
              lectus. Mauris venenatis auctor nisl ac luctus.
      #footer
        Copyright 2011 Eric Wollesen.  All rights reserved.
